asn1crypto==1.5.1
beautifulsoup4==4.14.3
certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
pg8000==1.31.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
requests==2.32.5
scramp==1.4.8
six==1.17.0
soupsieve==2.8.1
typing_extensions==4.15.0
urllib3==2.6.2
